<div class="px-4 py-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p id="quote" class="lead mb-4">
      <img [src]="animeLink" *ngIf="animeLink" />
    </p>
    <h1 id="author" class="display-5 fw-bold"></h1>
    <br />
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        id="generateQuoteBtn"
        type="button"
        class="btn btn-primary btn-lg px-4 gap-3"
        (click)="generateRandomAnime()"
      >
        Generate Random Anime Image
      </button>
      <!-- <button
                id="cancelBtn"
                type="button"
                class="btn btn-outline-secondary btn-lg px-4"
            >
                Cancel
            </button> -->
    </div>
  </div>
</div>
